<div class="TAS_keys">
  <div class="TAS_keyCon">
    <div tabindex="0" class="TAS_keyModifier TAS_key">{{modifierKey}}</div>
    <div class="TAS_label">{{modifier}}</div>
  </div>

  <div class="TAS_keyCon">
    <div tabindex="0" class="TAS_keyNext TAS_key">{{nextKey}}</div>
    <div class="TAS_label">{{next}}</div>
  </div>

  <div class="TAS_keyCon">
    <div tabindex="0" class="TAS_keyPrevious TAS_key">{{previousKey}}</div>
    <div class="TAS_label">{{previous}}</div>
  </div>

  <div class="TAS_saveCon">
    <div class="TAS_save">{{save}}</div>
    <div class="TAS_status"></div>
  </div>
</div>
